html,
body {
  /* background-color: rgba(33, 32, 32, 0.992);  */
  max-height: 100vh;
  max-width: 100vw;
  margin: 0;
  padding: 0;

  max-height: 100%;
  max-width: 100%;

} 

.margin-from-top {
  margin-top: 8%;
}

.searchBar {
  width: 100vw;
}