@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Metal+Mania&family=Zen+Dots&display=swap');

.back-nav {
    background-color: rgba(33, 32, 32, 0.992);
    border-bottom: 5px solid #c10206;
    width: 100vw;
}

.header-head {
    color: white;
    width: 100%;
    margin-left: 1%;
    font-family: 'Zen Dots';
}

.container-pos {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

a.nav-link {
    color: #c10206;
    font-weight: bolder;
    font-family: 'Zen Dots';
}

a.nav-link:hover {
    background: #c10206;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #c10206, 0 0 25px #c10206, 0 0 50px #c10206,
      0 0 100px #c10206;
  }

  nav.back-nav.navbar.navbar-expand-sm.navbar-light.fixed-top {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
  }

@media (max-width: 576px) {

    .header-head {
      text-align: center;
    }

}