body {
  /* background-color: rgba(33, 32, 32, 0.992);  */
  max-height: 100vh;
  max-width: 100vh;
  margin: 0;
  padding: 0;
}

.bigOne {
    text-align: center;
    justify-content: center;
    display: flex;
}