.movie-details {
    width: 100vw;
    height: 100vh;
    background-color: rgba(33, 32, 32, 0.992); 
}

.mainContent {
  max-width: 1400px;
  margin: 0 auto;
}

.movieTitle {
    text-align: center;
    color: #c10206;
    margin-bottom: 15px;
}

/* .mainSearchDiv{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    background-color: rgba(33, 32, 32, 0.992);
  } */
  .input-container {
    background-color:white;
  }
  
  /* #dropdown {
    position: absolute;
  } */
  
  
  .movie__poster {
    border-radius: 5px;
    height: 75vh;
    margin-right: 10px;
  }
  .movie__details {
    width: 60%;
  }
  .header-container {
      margin: 0px 0 1rem 0;
  }
  .rating-container {
      display: inline;
  }
  
  /* .movies {
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    cursor: pointer;
    width: 100%;
    color: white;
  } */
  .movie {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    height: 100%;
    padding: 1rem;
    overflow: auto;
  }
  .movie-title {
    font-weight: bold;
    display: inline;
    font-size: xx-large;
  }
  .original-title {
    margin:0 0 1em 0;
  }
  .header__year {
    font-weight: bold;
    color: lightgrey;
    display: inline;
    font-size: x-large;
  }
  .overview__header {
    font-size:larger;
  }
  .option {
    padding: 1rem 0.5rem;
  }
  .option:hover {
    background-color: #0093cc;
    color: white;
  }
  /* .header__title {
    background-color: orange;
  } */
  .rating {
    /* background-color: #fcd000; */
    /* padding: 2px;
    border: none; */
  }
  .details__synopsis {
    /* background-color: #47cf73; */
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .pContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
/* .searchedPs {
  display: inline-block;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
} */



  .rating {
      border-radius: 50%;
    border-width: 4px;
    border-style: solid;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      width: 50px;
      height: 50px;
      color: white;
      font-weight: bold;
  }

  .searchedPs {
    display: inline-block;
    border-bottom: 1px solid white;
    /* border-radius: 5px; */
    padding: 5px;
  }

  .voteBorder {
    border: none;
    border-bottom: 1px solid white;
    border-radius: none;
    color: #c10206;
  }

  .rating-green{
    border-color: #47cf73;
  }
  .rating-yellow{
    border-color: #fcd000;
  }
  .rating-red{
    border-color: #ff3c41;
  }
  .score-tag {
    content: "User score";
    font-weight: bold;
    margin: 0.5rem;
  }

.reviewDiv {
  display: flex;
  flex-direction: column;
  max-width: 45vw;
}

.inputWrapper {
  max-width: 100%;
}

.reviewInput {
  font-size: 1.2em;
  width: 100%;
  height: 300px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px;
  padding-bottom: 10px;
  box-sizing: border-box;
  resize: vertical;
  word-break: break-all;
  overflow-wrap: break-word;
}

 /* .watchButtons {
 margin-top: 10px;
}  */

button.reviewBtn.btn.btn-primary {
  background-color: transparent;
  border: none;
  color: #c10206;
}

button.reviewBtn.btn.btn-primary:hover {
  background-color: #c10206;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px #c10206, 0 0 15px #c10206;
}

button.reviewBtns {
  background-color: transparent;
  border: none;
  color: #c10206;
}

button.reviewBtns:hover {
  background-color: #c10206;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px #c10206, 0 0 15px #c10206;
}

  reviewText {
    font-size: 1.2em;
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
  }

  @media (max-width: 580px) {
    .details__synopsis {
      /* background-color: #47cf73; */
      border-bottom: 1px solid white;
      border-top: 1px solid white;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 10px;
    }

    .searchedPs {
      font-size: 10px;
    }

    .reviewDiv {
      margin-top: 0;
    }

    .movie__poster {
      height: 125px;
      width: 25px;
    }

    .watchButtons {
      display: flex;
      justify-content: center;
    }

    .reviewDiv {
      display: flex;
      align-items: center;
    }
}